body{
    background-color: #D2DDDF;
    margin: 0;
}

.errorBanner{
    width: 100%;
    background-color: #420000;
    padding: 0.5vh 0 0.5vh 0;
    color: #F3F3F3;
    text-align: center;
}

.addButton{
    margin-left: 2vw;
}

h1{
    padding: 0 2vw 0 2vw;
}

.paginationBar{
    margin: 2vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: row;
}