.pageContent{
    background-color: white;
    width: 80vw;
    height: fit-content;
    padding: 20px 0;
    margin: 20px auto;
    border-radius: 10px;
}

.title{
    display: inline;
}

.top{
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
}

.bottom{
    padding: 20px;
}

.navigationBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.navigationBar * {
    display: block;
    width: 150px;
    height: 20px;
    padding: 0;
}

.search{
    margin-right: auto;
}

.sort{
    margin-left: auto;
}

.pageInfo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paginationBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: none;
    border: none;
    justify-content: center;
}

.nextButton, .prevButton{
    text-decoration: none;
    color: black;
}

.nextButton{
    margin-left: 5%;
}

.nextButton::before{
    content: "⮞";
}

.prevButton{
    margin-right: 5%;
}

.prevButton::before{
    content: "⮜";
}

@media screen and (max-width: 700px){
    .navigationBar{
        flex-direction: column;
    }
    .sort{
        margin: 20px auto 0 0;
    }
}