.form{
    width: 50vw;
    height: 50vh;
    border: solid 1px black;
    margin: 10vh auto 10vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.textArea{
    width: 100%;
    resize: none;
    padding: 0;
    border: none;
    background: none;
    height: 100%;
}

.textArea:focus{
    outline: none;
}

.textCount{
    display: block;
    text-align: right;
    position: relative;
    bottom: 5vh;
    right: 0;
    opacity: 0.5;
}

.areaBox{
    height: 100%;
    padding: 2vh 1vw 2vh 1vw;
}

.sendButton{
    height: 20%;
    display: block;
    border: none;
    background-color: #ced9e2;
    color: black;
    cursor: pointer;
    transition: 0.35s;
    width: 100%;
    border-top: solid 1px black;
    padding: 2vh 0 2vh 0;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sendButton:hover{
    background-color: #8e99a2;
}