.infoButton{
    cursor: pointer;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
}

.infoButton::after{
    content: "ⓘ";
}

.infoBox{
    font-weight: normal;
    font-size: small;
    border: solid 1px black;
    padding: 2vh 1vw 2vh 1vw;
}