.infoButton{
    cursor: pointer;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    max-width: fit-content;
    max-height: fit-content;
}

.infoButton::after{
    content: "ⓘ";
}

.infoBox{
    display: none;
    font-weight: normal;
    position: relative;
    font-size: small;
    border: solid 1px black;
}

.infoButton:hover + .infoBox{
    display: inline-block;
}