.panel{
    background-color: white;
    margin: 20px auto 20px auto;
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.leftSide{
    width: 30%;
    border-right: solid 1px black;
    padding: 1vw 2vh 1vw 2vh;
    display: flex;
    flex-direction: column;
}

.iconContainer{
    max-height: 20%;
    display: flex;
    flex-direction: row;
}

.iconContainer > * {
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mindSpaceEmoji{
    font-size: 5vw;
    margin: auto 0 auto auto;
}

.mindSpaceInfo{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-right: auto;
}

.linkGroup{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkContainer{
    width: 90%;
    margin: 2vh 0 2vh 0;
    padding: 2vh 1vw 2vh 1vw;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: larger;
    transition: 0.35s;
}

.selected{
    background-color: #8e99a2;
}

.linkContainer:hover{
    background-color: #8e99a2;
    transform: scale(1.05);
}

.linkInfo{
    margin: auto auto auto 0;
}

.linkEmoji{
    margin: auto 0 auto auto;
    width: 20%;
    height: auto;
    font-size: 3vw;
}

.rightSide{
    width: 70%;
    border-left: solid 1px black;
    padding: 1vw 2vh 1vw 2vh;
}