.displaySetting{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchBar{
    margin-right: auto;
}

.sortButton{
    margin-left: auto;
}

.pageInfo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paginationBar{
    position: relative;
    width: 10%;
    margin: 0 auto;
}

.paginationBar input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: none;
    border: none;
}

.nextButton, .prevButton{
    text-decoration: none;
    color: black;
}

.nextButton{
    position: absolute;
    right: 0;
    top: 25%;
}

.nextButton::before{
    content: "⮞";
}

.prevButton{
    position: absolute;
    left: 0;
    top: 25%;
}

.prevButton::before{
    content: "⮜";
}